@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'M PLUS 1p', sans-serif;
}

@supports (padding: env(safe-area-inset-top)) {
  .safe-area-inset-top {
    padding-top: env(safe-area-inset-top);
  }
  .safe-area-inset {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
  }
}

@media (max-width: 640px) {
  html {
    -webkit-text-size-adjust: 100%;
  }
}
